<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="google-site-verification" content="hbqGBNxyxxZLWm24_0SL9syAiBy3RrKvw9_o3mXKBOk" />

  <style>
    body {
      font-family: sans-serif;
      max-width: 800px;
      margin: 2rem auto;
      padding: 0 1rem;
    }
  </style>
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
  <header style="display: flex; align-items: center; height: 64px; padding: 10px 20px; margin-bottom: 25px; border-bottom: 1px solid #ccc;">
    <img src="/web-app-manifest-512x512.png" alt="TFT & SBC Integration Notes" style="height: 48px; ">
    <nav style="font-size: 18px;margin-left: 200px;">
      <a href="/" style="margin-right: 25px;">🏠 Home</a>
      <a href="/github-display-config/" style="margin-right: 25px;">🧰 TFT Config Index</a>
      <a href="https://github.com/Kevin109/rocktech-tft-display-configs" style="margin-right: 12px;" target="_blank" rel="nofollow">🔗 GitHub</a>
    </nav>
  </header>

  {{ content }}
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      const codeBlocks = document.querySelectorAll("div.highlighter-rouge");

      codeBlocks.forEach((block, index) => {
        const wrapper = document.createElement("div");
        wrapper.className = "code-block-wrapper";

        // 自动识别语言并显示在左上角
        const langClass = block.className.match(/language-(\w+)/);
        if (langClass) {
          const langLabel = document.createElement("div");
          langLabel.textContent = langClass[1].toUpperCase();
          langLabel.style.position = "absolute";
          langLabel.style.top = "6px";
          langLabel.style.left = "10px";
          langLabel.style.fontSize = "12px";
          langLabel.style.color = "#666";
          wrapper.appendChild(langLabel);
        }

        // 复制按钮
        const button = document.createElement("button");
        button.className = "copy-button";
        button.textContent = "Copy";

        // 插入按钮和代码块
        const clonedBlock = block.cloneNode(true);
        wrapper.appendChild(button);
        wrapper.appendChild(clonedBlock);
        block.replaceWith(wrapper);

        // 复制逻辑
        button.addEventListener("click", () => {
          const code = wrapper.querySelector("code").innerText;
          navigator.clipboard.writeText(code).then(() => {
            button.textContent = "Copied!";
            setTimeout(() => (button.textContent = "Copy"), 2000);
          });
        });
      });
    });
  </script>
  <footer>
  <p>© 2025 TFT & SBC Integration Notes.</p>
</footer>
</body>

</html>